<!DOCTYPE html>
{% load static %}
{% load static tailwind_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
    <title>{% block title %}{% endblock title %}</title>
</head>
<body class='bg-blue-100'>
    <div class='flex justify-around bg-red-400 py-3 text-white sm:w-full'>
        <div class=''>
            <ul class='flex space-x-3 md:space-x-6 lg:space-x-32'>
                <li class='hover:text-black'><a href="#">Home</a></li>
                <li class='hover:text-black'><a href="#">About</a></li>
                <li class='hover:text-black'><a href="#">Company</a></li>
                <li class='hover:text-black'><a href="#">Contact</a></li>
            </ul>
        </div>
        <div>
            <ul class='flex space-x-3 md:space-x-6 lg:space-x-32'>
                {% if user.is_authenticated %}
                <li class='hover:text-black'><a href="#">Profile</a></li>
                <li class='hover:text-black'><a href="{% url "logout" %}">Logout</a></li>
                {% else %}
                <li class='hover:text-black'><a href="{% url "login" %}">Login</a></li>
                <li class='hover:text-black'><a href="{% url "registration" %}">Registration</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% block content %}
    
    {% endblock content %}
</body>
</html>